<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body class="{% if page.url == '/' %}home {% endif %}">
    {% include nav.html %}
    <section>
      {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}

      {% if site.site_notice_bottom %}
        <div class="site-notice-bottom"></a>
          {% include site-notice-bottom.html %}
        </div>
      {% endif %}
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
